@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap');

.main {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(/screen1.jpg);
  background-position: center;
  background-size: cover;
}
.main h1 {
  margin-left: 25%;
  color: #fff;
}
.main h2 {
  margin-left: 36.5%;
  margin-top: -5%;
  color: #fff;
  font-weight: 400;
}
.main h3 {
  margin-left: 27.5%;
  margin-top: -5%;
  color: #fff;
  font-weight: 400;
}

.asker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.centerHeading {
  margin: auto;
    margin-top: auto;
    margin-left: auto;
  text-align: center;
  margin-left: 2% !important;
  margin-top: 57%;
}
.askerTypeCar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.chooseButton {
  border-radius: 50px;
  padding: 20px 20px;
  font-family: Roboto;
  width: 150px;
  max-width: 200px;
  border: none;
  font-weight: 500;
  margin-left: 2%;
  margin-top: 3%;
  background-color: #fff;
}
.show {
  animation-name: show;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes show {
  0% { filter: opacity(0) }
  100% { filter: opacity(0)  }
}
